Django>=4.2,<5.0
gunicorn

python-dotenv

djangorestframework
django-cors-headers

cloudinary
django-cloudinary-storage

pypdf
pdfplumber
PyMuPDF

langchain
langchain-community
langchain-core

requests

