Django>=4.2,<5.0
gunicorn

python-dotenv

# Cloudinary
cloudinary
django-cloudinary-storage

# REST / API
djangorestframework
django-cors-headers

# PDF processing
pypdf
PyMuPDF

# LangChain ecosystem (minimal & safe)
langchain
langchain-community
langchain-core

# HTTP
requests
